version: "3.7"

volumes:
  db-data:

networks:
  instavote:
    driver: bridge

services:
  vote:
    image: zavrelmi/vote:master
    build: ./vote
    ports:
      - 5005:80
    depends_on:
      - redis
    networks:
      - instavote

  redis:
    image: redis:alpine
    networks:
      - instavote

  db:
    image: postgres:9.4
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - "db-data:/var/lib/postgresql/data"
    networks:
      - instavote

  result:
    image: zavrelmi/result:master
    build: ./result
    ports:
      - 5055:4000
    depends_on:
      - db
    networks:
      - instavote

  worker:
    image: zavrelmi/worker:latest
    build: ./worker
    depends_on:
      - db
      - redis
    networks:
      - instavote
  docker:
    image: docker:dind
    ports:
#      - 2376:2376
      - 5005:5005
      - 5055:5055
    environment:
      - DOCKER_TLS_CERTDIR=/certs
